# SPDX-License-Identifier: GPL-2.0-only
# Copyright 2019 Mellanox Technologies. All Rights Reserved.

[Unit]
Description=rshim driver for BlueField SoC
Documentation=man:bfrshim(8)
After=network.target

[Service]
Restart=always
Type=forking
ExecStart=-/usr/bin/bfrshim $OPTIONS
KillMode=process
ExecStop=/usr/bin/killall -SIGKILL bfrshim

[Install]
WantedBy=multi-user.target
