# SPDX-License-Identifier: GPL-2.0 or BSD-3-Clause
# Copyright 2019 Mellanox Technologies. All Rights Reserved.

[Unit]
Description=rshim driver for BlueField SoC
Documentation=man:rshim(8)
After=network.target

[Service]
Restart=always
Type=forking
ExecStart=-/usr/sbin/rshim $OPTIONS
KillMode=control-group

[Install]
WantedBy=multi-user.target
